/*** Default CSS ***/
@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,900');

html, body {
    max-width: 100%;
    overflow-x: hidden;
    text-transform: capitalize;
}
/* Background images */
.login {
  background: url(images/login.jpg) no-repeat center;
  background-repeat: no-repeat;
  background-position: center;
  position: fixed;
  width: 100% auto;
}
.dashboard {
  background: url(images/dashboard.jpg) no-repeat center center fixed;
}
.create-user {
  background: url(images/createuser.jpg) no-repeat center center fixed;
}
.create-job {
  background: url(images/createjob.jpg) no-repeat center center fixed;
}
.users {
  background: url(images/users.jpg) no-repeat center center fixed;
  text-align: -webkit-center;
}
.customers {
  background: url(images/customers.jpg) no-repeat center center fixed;
  text-align: -webkit-center;

}
.create-customer {
  background: url(images/picture.jpg) no-repeat center center fixed;
}
.jobs {
  background: url(images/jobs.jpg) no-repeat center center fixed;
  text-align: -webkit-center;
}
.dashboard, .customers, .create-job, .create-customer, .jobs, .create-user, .users {
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: absolute;
  min-width: 100vw;
  min-height: 100vh;
}
div#root, main, .login {
  min-width: 100vw;
  min-height: 100vh;
}
body {
  font-family: 'Lato', sans-serif;
  margin: 0px;
}
.top {
  background-color: #00004d;
  margin: 0px;
}
.company-name, .links {
  display: inline-block;
}
.links {
  width: 100px;
  float: right;
  margin-top: 30px;
  margin-right: 15px;
}
.company-name h3, .links h4, .links p {
  margin: 0px;
  font-weight: 300;
  padding: 10px;
  color: white;
}
.links h4 {
  float: right;
  cursor: pointer;
  margin-top: -35px;
}
.links p {
  font-weight: 600;
  padding: 0px;
  letter-spacing: 1px;
  padding-left: 2px;
  float: right;
  margin-right: 15px;
}
a {
  text-decoration: none;
  color: white;
}
.links a h4:hover, a:hover {
  text-decoration: underline;
  color: white;
}
button {
  cursor: pointer;
}
ul {
  padding: 0px;
}
nav {
  background-color: #000033;
  margin: 0px;
  color: white;
}
nav ul {
  padding: 0px;
  display: table;
  width: 100%;
  margin: 0px;
}
nav ul li {
  list-style-type: none;
  display: inline-block;
  display: table-cell;
  text-align: center;
  padding: 15px;
}

nav ul li a:active {
  text-decoration: underline;
}

h1 {
  text-align: center;
  font-size: 60px;
  color:white;
  font-weight: 400;
  margin: 40px;
}
h1, h2, h3, h4 {
  letter-spacing: 2px;
  text-shadow: 2px 2px 2px black;
}
h1, h2, h3, h4, p {
  cursor: default;
}

label {
  display: block;
  color: white;
  font-size: 20px;
  margin-bottom: 15px;
  text-shadow: 2px 2px 2px black;
}
form {
  margin-top: 50px;
  max-width: 80%;
  text-align: -webkit-center;
  padding: 40px;
  padding-top: 20px;
  border-radius: 20px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;

}
input, textarea, select, .cc-left input[type='username'] {
  margin: auto;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 16px;
  display: block;
  border-radius: 7px;
  border: none;
  box-shadow: inset 4px 4px 2px 0px lightgrey;
  margin-right: auto;
  margin-bottom: 10px;
  padding-bottom: 7px;
  padding-left: 10px;
  padding-top: 6px;
  width: 80%;
  background-color: white;
}
select {
  max-width: 210px;
}
input[type='username'], input[type='password'] {
  text-align: left;
  width: 200px;
  margin: 0px;
  margin-bottom: 20px;
}
select {
  border: none;
  box-shadow:
  0 1px 2px #fff, /*bottom external highlight*/
  0 -1px 1px #666, /*top external shadow*/
  inset 0 -1px 1px rgba(0,0,0,0.5), /*bottom internal shadow*/
  inset 0 1px 1px rgba(255,255,255,0.8); /*top internal highlight*/
}
button[type=submit] {
  border: none;
  box-shadow:
  inset 0 -1px 1px rgba(0,0,0,0.5), /*bottom internal shadow*/
  inset 0 1px 1px rgba(255,255,255,0.8); /*top internal highlight*/
}
textarea {
  padding-bottom:50px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
button[type=submit] {
  font-size: 20px;
  display: block;
  margin-top: 50px;
  letter-spacing: 2px;
  border-radius: 7px;
  padding: 15px 10px 15px 10px;
}
button[type=submit]:hover {
  box-shadow: 2px 2px 2px grey;
}
footer {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  background-color: #000033;
  height: 30px;
  margin-top: 70px;
}
footer p {
  text-align: right;
  font-size: 10px;
  color: white;
  padding-bottom: 10px;
  padding-right: 5px;
  font-weight: lighter;
}
/***********************/
/*Login*/
.cu .company-name h1 {
  text-align: left;
  padding: 0px;
  margin: 0px;
  width: auto;
  margin-bottom: 50px;
  margin-left: -25px;
  font-size: 20px;
}
.cu input[type='username'],.cu input[type='password'] {
  width: 100%;
  max-width: 200px;
}
/***********************/
/*Create Job*/

.pickup, .delivery, .description, .dimensions, .delivery-type {
  padding: 20px;
  width: 80%;
  padding-top: 20px;
  border-radius: 20px;
  margin-bottom: 20px;
  background: rgba(78, 77, 77, 0.5);


}
div .cj-right, div.cj-left{
  width: 50%;
  display: inline-block;
  vertical-align: top;
}
button.cj-button {
  margin-top: 20px;
  float: right;
}
.measurements, .address, .date-time {
  padding: 0px;
  display: table;
  width: 95%;
  margin: 0px;
}
.measurements label {
  font-size: 15px;
  margin-bottom: 5px;
}
.measurements li {
  list-style-type: none;
  display: inline-block;
  display: table-cell;
  text-align: center;
  padding: 3px;
}
.measurements li select {
  width: 100px;
}
.time input, .ps input {
  width: 60%;
}
div .add-item {
  display: inline-block;
}
/********** Create User *********/
.cu select {
  margin: 0px;
}
.cu {
 background: rgba(78, 77, 77, 0.5);
 width: 30%;
 padding: 40px;
 border-radius: 7px;
}
.cu-button, .cj-button, .cc-button {
  background-color: #0080FF;
  border: none;
  color: white;
  letter-spacing: 3px;
}
/****** Jobs page *****/

.Collapsible {
  background: rgba(78, 77, 77, 0.5);
  margin-bottom: 30px;
  width: 30%;
  padding: 30px;
  border-radius: 7px;
  display: inline-block;
  text-align: center;
  margin-left: 50px;
  margin-right: auto;
  color: white;
  vertical-align: top;
}
.Collapsible:hover {
  box-shadow: 2px 2px 2px black;
}
.Collapsible span {
  text-shadow: 1px 1px 1px black;
  cursor: pointer;
  letter-spacing: 2px;
}
.job-info {
  text-align: left;
  border-top: 3px solid rgba(78, 77, 77, 0.5);
  margin-top: 20px;
  padding: 15px;
}
.job-info div {
  border-bottom: 1px solid rgba(78, 77, 77, 0.5);
}
.job-info div p, .job-info div h4{
  vertical-align: top;
}
.job-info h2, .job-info div h4 {
  display: inline-block;
  margin-left: 10px;
  font-weight:500;
}
.job-info div h4 {
  margin-top: 17px;
}
.job-info div p {
  display: inline-block;
  text-transform: none;
}
.job-info div p .dime {
  text-transform: lowercase;
}
.dime {
  text-transform: none;
}
.cc-middle {
  max-width: 450px;
}
/**** Create Customer ****/
.cc-left, .cc-right {
  display: inline-block;
  vertical-align: top;
  border-radius: 7px;
  margin-left: 20px;
  margin-right: 20px;
}
.cc-form {
  background: rgba(78, 77, 77, 0.5);
  width: 50%;
  padding: 30px;
  border-radius: 7px;
}



/**** Responsive ****/
/* Portrait and Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .Collapsible {
    width: 80%;
    padding: 30px;
    border-radius: 7px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    color: white;
    vertical-align: top;
    overflow: hidden;
    }
    .cu {
      width: auto;
    }
}
