/*** Default CSS ***/
@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,900');
body {
  font-family: 'Lato', sans-serif;
}
h1 {
  font-size: 60px;
  /*color:white;*/
  font-weight: 400;
  margin: 40px;
}
h2 {

}
h3 {

}
label {
  display: block;
  color: white;
  font-size: 20px;

}
form {
margin-top: 20px;
max-width: 80%;
margin-left: auto;
margin-right: auto;

}
input[type=text], input[type=number], input[type=date], input[type=time], textarea, select {
  margin: auto;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 16px;
  display: block;
  border-radius: 7px;
  border: none;
  box-shadow: inset 4px 4px 2px 0px lightgrey;
  margin-right: auto;
  margin-bottom: 10px;
  padding-bottom: 7px;
  padding-left: 10px;
  padding-top: 6px;
  width: 80%;
  background-color: white;
}
select, button[type=submit] {
  border: none;
  box-shadow:
  0 1px 2px #fff, /*bottom external highlight*/
  0 -1px 1px #666, /*top external shadow*/
  inset 0 -1px 1px rgba(0,0,0,0.5), /*bottom internal shadow*/
  inset 0 1px 1px rgba(255,255,255,0.8); /*top internal highlight*/
}
textarea {
  padding-bottom:50px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
button[type=submit] {
  display: block;
  letter-spacing: 2px;
  border-radius: 7px;
  padding: 10px 20px 10px 20px;
}
button[type=submit]:hover {
  box-shadow: 2px 2px 2px grey;
}
/*Create Job*/

.pickup, .delivery, .description, .product-info {
  background-color: grey;
  padding: 40px;
  padding-top: 20px;
  border-radius: 20px;
  margin-bottom: 30px;

}
div .cj-right, .cj-left {
  width: 50%;
  padding: 10px;
  display: inline-flex;
  vertical-align: top;
}
.cj-button {
  background-color: darkblue;
  color: white;
  float: right;
  margin-bottom: 100px;
}
